.container{
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    border: 2px solid lime;
}

.container div img{
    width: 100%;
    height: 100%;
}

.container .kicik{
    flex: 1 1 150px;
}

.container .boyuk{
    flex: 1 1 200px;
}

